.navbar {
	flex-direction: row;
}

#cards {
	.card-body-icon {
		right: -10px!important;
	}

	> div:nth-of-type(1) {
		> div:first-of-type {
			background: #9B462A;
		}
	}

	> div:nth-of-type(2) {
		> div:first-of-type {
			background: #433E3F;
		}
	}
	
	> div:nth-of-type(3) {
		> div:first-of-type {
			background: #8E6E53;
		}
	}
	
	> div:nth-of-type(4) {
		> div:first-of-type {
			background: #7A7265;
		}
	}
}

.sticky-footer {
	small {
		color: grey;
	}
}

#logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.4s;
}