.navbar {
	flex-direction: row;
	z-index: 10;
}

#cards {
	.card {
		font-size: 1.2em;
	}
	
	.card-body {
		padding: 1.5rem;
	}

	.card-body-icon {
		right: -10px!important;
	}

	#card-breaks {
		background: #f36e41;
	}
	
	#card-breakers {
		background: #50c4d0;
	}

	#card-available {
		background: #ffd55c;
	}

	#card-subscriptions {
		background: #06b2b8;
	}
	// > div:nth-of-type(1) {
	// 	> div:first-of-type {
	// 		background: #f36e41;
	// 	}
	// }

	// > div:nth-of-type(2) {
	// 	> div:first-of-type {
	// 		background: #50c4d0;
	// 	}
	// }
	
	// > div:nth-of-type(3) {
	// 	> div:first-of-type {
	// 		background: #ffd55c;
	// 	}
	// }
	
	// > div:nth-of-type(4) {
	// 	> div:first-of-type {
	// 		background: #06b2b8;
	// 	}
	// }
}

.sticky-footer {
	small {
		color: grey;
	}
}

#logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    transition: 0.4s;
}

#search {
	button, input {
		border: 0;
	}

	button:hover {
		background: $color-theme-green;
	}
}

.subscription {
	transition: 0.2s;
	.fa {
		cursor: pointer;
	}
}

.subscription:hover {
	background: $color-theme-green;
	border-color: $color-theme-green;
}

.card {
	border: 0;

	.card-header {
		border: 0;
		border-radius: .25rem;
	}
}

.modal {
	.tags {
		.badge {
			cursor: pointer;
			transition: 0.2s;
		}

		.badge:hover {
			opacity: 0.8;
		}

		.selected {
			background: $color-theme-orange-l;
			color: white;
		}
	}
}

#breakers_list {
	li {
		cursor: -webkit-grab;
		background: rgba(0,0,0,0.05);
		border-left: 4px solid $color-theme-orange-l;
	}
}