#side-social {
	font-size: 1.5em;
	text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%);

	a  {
		color: inherit;
	}

	i {
		margin: 12px;
		transition: 0.2s;
	}

	.fa:hover {
		transform: scale(1.2);
	}

	.fa-envelope-open:hover {
		color: $color-theme-orange-l;
	}

	.fa-facebook:hover {
		color: #3B5998;
	}

	.fa-twitter:hover {
		color: #1da1f2;
	}

	.fa-google:hover {
		color: #d34836;
	}

	.fa-file-pdf-o:hover {
		color: $color-theme-green;
	}
}

#break {
	h5 {
		color: $color-theme-green;

		a {
			color: inherit;
		}
	}

	#author-bar {
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	#credits {
		h5 {
			color: inherit;
		}
	
	    p {
	    	margin: 0;
	    	margin-left: 12px;
	    }
	}
}

#side-bar {
	> div {
		padding: 16px;
	}

	> div {
		img {
			width: 40px;
		}

		small:first-of-type {
			line-height: 1.2;
		}

		small:last-of-type {
			line-height: 1;
		}

		> div {
			overflow: hidden;
			margin: 0;

			em {
				font-size: 0.9em;
			}
		}
	}
}

.category-title {
	img {
		width: 1.5em;
	}
}

.cover-image {
	width: 100%;
	position: relative;

	img {
		width: 100%;
	}

	figcaption {
		position: absolute;
		bottom: 8px;
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
		width: 100%;
		padding: 1rem;
		font-size: 80%;
		background: rgba(0,0,0,0.4);
		color: lightgrey;
	}
}
