#core {
	a:hover {
		text-decoration: none;
	}
	
	.avatar {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		
		.about {
			position: absolute;
			cursor: default;
			left: 0;
			margin-top: 3px;
			background: white;
			z-index: 10;
			border: 1px solid $color-theme-green;
			padding: 30px 30px 20px 30px;
			font-size: 0.9em;
			display: none;
			-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.58);
			-moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.58);
			box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.58);

			p:first-of-type {
				font-size: 1.2em;
				border-bottom: 1px solid;
			}

			.fa {
				font-size: 1.4rem;
				margin:	0 .75rem;
			}
		}
	}
}

.border-color-green {
	border-color: $color-theme-green;
}

#advisors, #breakers {
	> div:not(:last-of-type) {
		border-bottom: 1px dotted grey;
	}
}

#partners {
	img {
		width: 160px;
		margin: 20px;
	}
}

#profile {
	> img {
		max-height: 220px;
	}
}