#latest-breaks {
	th {
	    vertical-align: initial;
	}

	td {
		padding-left: 12px;
		padding-bottom: 12px;
	}
	
	img {
		width: 46px;
	}

	p {
		margin: 0;
		line-height: 1;
	}

	small {
		font-size: 70%;
	}
}

#subject-icons {
	max-width: 800px;
	margin: 0 auto;

	.icon-wrapper {
	    width: 140px;
	    margin: 16px;
	    position: relative;

		img {
			width: 100%;
			transition: 0.2s;
		}

		div {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
			h5 {
				opacity: 0;
				line-height: 1;
				margin: 0;
				transition: 0.3s;
			}

			h5:first-of-type {
				font-size: 1.4em;
				color: #292b2c;
			}

			h5:last-of-type {
				color: $color-theme-orange-l;
			}
		}
	}	
}

#app-container {
	div {
		max-width: 240px;
	}

	> div:first-of-type {
		img {
			width: 80%;
		}
	}

	#apple-store-icon {
		width: 140px;
	}
}

#discussion-container {
	.fa {
		font-size: 9em!important;
		color: lightgrey;
		opacity: 0.6;
	}
}
