.icon-wrapper:hover {
	img {
		-ms-transform: scale(1.1,1.1); /* IE 9 */
	    -webkit-transform: scale(1.1,1.1); /* Safari */
	    transform: scale(1.1,1.1); /* Standard syntax */
	    opacity: 0.2;
	}

	h5 {
		opacity: 1!important;
	}
	
	h5:first-of-type {
		transform: translateY(-25%);
	}

	h5:last-of-type {
		transform: translateY(25%);
	}
}