button, input, textarea {
	font-family: inherit;
}

input:hover {
	outline: 0;
}

h3, h4, h5 {
	font-weight: bold;
}

a {
	color: $color-theme-orange-l;
}

a:hover {
	color: $color-theme-orange-d;
}

.sticky-menu {
    background: rgb(25,25,25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin: 0!important;
    display: block!important;
}

.jumbotron {
    padding: 2rem;
    background: #f9f9f9;
}

.text-orange {
	color: $color-theme-orange-l;
}

.text-green {
	color: $color-theme-green;
}

.mt-6 {
	margin-top: 6rem!important;
}

.mt-7 {
	margin-top: 7rem!important;
}

.btn-theme-green {
	background: $color-theme-green;
	color: white;
}