button, input, textarea {
	font-family: inherit;
}

input:hover {
	outline: 0;
}

h3, h4, h5 {
	font-weight: bold;
}

h4 {
	margin-bottom: 1rem;
}

a {
	color: $color-theme-orange-l;
}

a:hover {
	color: $color-theme-orange-d;
}

a:focus {
	text-decoration: none;
	color: inherit;
}

.custom-control-input:checked~.custom-control-indicator {
	background-color: $color-theme-orange-l;
}

.btn:focus,.btn:active, a:focus, a:active, button:focus, button:active {
   outline: none !important;
}

.list-none {
	list-style-type: none;
}

.lh-1 {
	line-height: 1.2;
}

.op-5 {
	opacity: 0.5;
}

.flex-grow {
	flex-grow: 1;
}

.alert-container {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.hidden {
	display: none;
}

.z-10 {
	z-index: 10;
}

.jumbotron {
    padding: 2rem;
    background: rgba(0,0,0,0.06);
}

.bg-default {
	background: $body-bg;
}

.text-orange {
	color: $color-theme-orange-l;
}

.text-green {
	color: $color-theme-green;
}

.mt-6 {
	margin-top: 6rem!important;
}

.mt-7 {
	margin-top: 7rem!important;
}

.btn-theme-green {
	background: $color-theme-green;
	color: white;
}

.btn-theme-orange {
	background: $color-theme-orange-l!important;
	color: white;
}

.no-hover {
	color: white!important;
}

.no-border {
	border: 0!important;
}