button, input, textarea {
	font-family: inherit;
}

input:hover {
	outline: 0;
}

h3, h4, h5 {
	font-weight: bold;
}

h4 {
	margin-bottom: 1rem;
}

a {
	color: $color-theme-orange-l;
}

a:hover {
	color: $color-theme-orange-d;
}

.jumbotron {
    padding: 2rem;
    background: rgba(0,0,0,0.06);
}

.bg-default {
	background: $body-bg;
}

.text-orange {
	color: $color-theme-orange-l;
}

.text-green {
	color: $color-theme-green;
}

.mt-6 {
	margin-top: 6rem!important;
}

.mt-7 {
	margin-top: 7rem!important;
}

.btn-theme-green {
	background: $color-theme-green;
	color: white;
}