@media screen and (max-width: 748px)  
{

#overlay {
	img {
		width: 20%;
	}
}

header {
	#title {
		display: none;
	}

	#title_mobile {
		display: block!important;
		width: 12%;
	}

	#hamburger {
		top: 1rem!important;
	
		h3 {
			font-size: 1.75rem!important;
		}
	}
}

main {
	margin-top: 6.8rem;
}

#author {
	> div:first-of-type {
		> div:first-of-type {
			> div:first-of-type {
				flex-direction: column-reverse;
			}
		}
	}
}

#discussion-container {
	display: none;
}



.btn {
	width: 100%;
}
}
